body {font-family: "Times New Roman";}
div.border_body {border: 2px solid #000000; padding: 5}
table tr td {font-size: 14;}

body,
body table { font:11px Calibri, Helvetica, sans-serif; }
/*body table.petugas tr td {font-size: 11;}*/
body .border-white { border-color:white !important;  }
table { margin-bottom:1em; }

.anggota{ font:11px Calibri, Helvetica, sans-serif; }
/*small { font-size:smaller; }*/

table.list th { text-transform:uppercase; text-align:left; }
table.list th,
table.list td { padding-right:10px; }

table.border{ margin-bottom: 0; }
table.border th,
table.border td { border:1px solid #000; padding:1px 5px 0 5px; }
table.border .noborder td { border:none; }

table.withnopadding tr td:last-child { padding-right:0 !important; }

/*table .border,
.border { display: block; width: 100%; padding: 1px 5px 0px 5px; border: 5px solid #000; }*/

.tcenter,
tr.tcenter td,
tr.tcenter th { text-align:center; }

.tright { text-align:right; }
.tleft { text-align:left; }

tr.vtop { vertical-align:top; }
tr.vtop th,
tr.vtop td {
	vertical-align: top;
}

ul, ol { padding-left:20px; }
.nomargin { margin:0 !important; }
.notopmargin { margin-top:0 !important; }
.nobotmargin { margin-bottom:0 !important; }
.pull-left { float:left; }
.pull-right { float:right; }

.container { width:98%; margin: 10px auto; }
.htitle { text-align:center; line-height:normal; }
.top_label { padding:0 30px; border: 1px solid; display:inline-block; font-weight: bold; font-size: 1.5em; }
.keterangan { margin-bottom:1.5em; display:block; border: 1px solid; padding:1px 3px; /*font-size:1.0834em;*/ }
