body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

table {
    border-collapse: collapse;
}

table tr td,
table tr th {
    font-size: 30px;
}

table tr td.page_title {
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.border_body {
    // border: 2px solid #000000;
    padding: 1px;
}

.table-content-wrapper {
    border: 2px solid #000000;
}

.table-content-wrapper .title {
    background: #ccc;
    color: #000;
    padding: 5px 10px;
    font-size: 32px;
}

.table-content-wrapper tr td {
    padding: 0;
}

.full {
    width: 100%;
}

.full tr td {
    vertical-align: top;
}

.half {
    width: 50%;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.table tr th,
.table tr td {
    padding: 8px 4px;
    font-weight: normal;
}

.table-bordered tr td,
.table-bordered tr th {
    border: 1px solid #000;
}

.table-bordered tr td table tr td,
.table-bordered tr th table tr th {
    border: none;
}

.table-condensed {
    border: 1px solid #000;
}

.table-condensed tr td,
.table-condensed tr th {
    border: 1px solid #000;
    border-left: 0;
    border-right: 0;
}

.tempat tr td {
    font-size: 32px !important;
    padding-bottom: 45px;
}

.tempat tr td tr td {
    padding-bottom: 2px;
}

.petugas tr td,
.petugas tr td tr td {
    font-size: 28px !important;
}

.petugas2 tr th,
.petugas2 tr td,
.petugas2 tr th table tr th,
.petugas2 tr td table tr td {
    font-size: 14px !important;
}
.petugas2 .title {
    font-size: 16px !important;
}

.boxes tr td {
    padding: 2px 8px;
}

.boxes tr td.border {
    border: 1px solid #000;
}
